{% extends "base.html" %}

{% block content %}
<h1><u>Assign Quiz</u></h1>
    <form action="" method="post">
	    {{ form.hidden_tag() }}
	    <p>
	            <b>{{ form.user.label }}</b><br>
		    {{ form.user(size=5, style="width : 10%") }}<br>
                    {% for error in form.user.errors %}
                    <span style="color: red">[{{ error }}]</span>
                    {% endfor %} 
            </p>
	    <p>
	            <b>{{ form.vquiz.label }}</b><br>
		    {{ form.vquiz(size=8, style="width : 25%") }}<br>
                    {% for error in form.vquiz.errors %}
                    <span style="color: red">[{{ error }}]</span>
                    {% endfor %} 
            </p>
	    <p>     {{ form.submit() }} </p>
    </form>
{% endblock %}
