{% extends "base.html" %}

{% block content %}
<h1><u>Create a VQuiz</u></h1>
    <form action="" method="post">
	    {{ form.hidden_tag() }}
	    <p>
	            <b>{{ form.vplist.label }}</b><br>
		    {{ form.vplist(size=64) }}<br>
                    {% for error in form.vplist.errors %}
                    <span style="color: red">[{{ error }}]</span>
                    {% endfor %} 
            </p>
	    <p>
	            <b>{{ form.title.label }}</b><br>
		    {{ form.title(size=64) }}<br>
                    {% for error in form.title.errors %}
                    <span style="color: red">[{{ error }}]</span>
                    {% endfor %} 
            </p>
	    <p>
	            <b>{{ form.image.label }}</b><br>
		    {{ form.image(size=64) }}<br>
                    {% for error in form.image.errors %}
                    <span style="color: red">[{{ error }}]</span>
                    {% endfor %} 
            </p>
	    <p>
	            <b>{{ form.calculator_ok.label }}</b><br>
		    {{ form.calculator_ok(size=64) }}<br>
                    {% for error in form.calculator_ok.errors %}
                    <span style="color: red">[{{ error }}]</span>
                    {% endfor %} 
            </p>
	    <p>     {{ form.submit() }} </p>
            <p>     <a href={{ url_for('mypage') }}>Cancel</a> </p>
    </form>
{% endblock %}
