{% extends "base.html" %}
{% from "_macros.html" import field %}

{% block content %}
<div class="card card-narrow">
  <h1>Change password</h1>
  {% if current_user.pw_man_reset %}<p class="alert alert-warning">Your password was reset. Please choose a new one to continue.</p>{% endif %}
  <form method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ field(form.old_password, 'The one you logged in with.' if not current_user.pw_man_reset else 'The temporary password you were given.', attrs={'autocomplete': 'current-password'}) }}
    {{ field(form.password, attrs={'autocomplete': 'new-password'}) }}
    {{ field(form.retype_password, attrs={'autocomplete': 'new-password'}) }}
    <div class="btn-row">
      {{ form.submit(class='btn', value='Change password') }}
      {% if not current_user.pw_man_reset %}<a class="btn btn-secondary" href="{{ home_url() }}" data-back-href>Cancel</a>{% endif %}
    </div>
  </form>
</div>
{% endblock %}
