{% extends "base.html" %}

{% block content %}
{% for item in ulst %}
    <b>(id={{item.id}})</b>
    [<a href="{{ url_for('user.eduser', uid=item.id) }}">Edit</a>]
    [<a href="{{ url_for('user.deluser', uid=item.id) }}" onclick="return confirm('Are you sure you want to delete {{item.username}}?');">Del</a>]
    [<a href="{{ url_for('user.resetpass', uid=item.id) }}" onclick="return confirm('Are you sure you want to reset {{item.username}}\'s password?');">PW Reset</a>]
    <br><b>User: {{item.username}}</b> {% if item.logged_in %} (logged in) {% endif %}
    <br>Email: {{item.email}}
    {% if item.is_admin %} 
    <br>ADMINISTRATOR
    {% endif %}
    <br><br>
{% endfor %}
{% endblock %}
