<html>
	<head>
		{% if title %}
		<title>{{ title }}</title>
		{% else %}
		<title>Welcome</title>
		{% endif %}
	</head>
	<body>
		{% if current_user.is_authenticated %}
                    <table width=100% columns=3>
                      <tr>
                        <td align=left width=33%>
    		          <div><a href="{{ url_for('mypage') }}">my page</a></div>
                        </td>
                        <td align=center width=33%>
                          <b>{{current_user.username}}</b>
                        </td>
                        <td align=right width=34%>
    		          <div><a href="{{ url_for('logout') }}">log out</a></div>
                        </td>
                      </tr>
                    </table>
                    <hr>
                    {% if current_user.is_admin %}
		        <div><a href="{{ url_for('qgen.list_vquizzes') }}">list vquizzes</a></div>
		        <div><a href="{{ url_for('qgen.list_vprobs') }}">list vproblems</a></div>
		        <div><a href="{{ url_for('qgen.assign') }}">assign quizzes</a></div>
		    {% endif %}
		{% else %}
		<div><a href="{{ url_for('login') }}">log in</a></div>
		<div><a href="{{ url_for('register') }}">create an account</a></div>
		{% endif %}
		{% with messages = get_flashed_messages() %}
		{% if messages %}
	       	       <hr>
		       <ul>
			       {% for message in messages %}
			       <li>{{ message }}</li> 
			       {% endfor %}
		       </ul>
		{% endif %}
		{% endwith %}
		<hr>
		{% block content %}{% endblock %}
	</body>
</html>
