{% extends "base.html" %}

{% block content %}
<h1><u>Change Password</u></h1>
    <form action="" method="post">
	    {{ form.hidden_tag() }}
	    <p>
	            <b>{{ form.old_password.label }}</b><br>
		    {{ form.old_password(size=64) }}<br>
                    {% for error in form.old_password.errors %}
                    <span style="color: red">[{{ error }}]</span>
                    {% endfor %} 
            </p>
	    <p>
	            <b>{{ form.password.label }}</b><br>
		    {{ form.password(size=64) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red">[{{ error }}]</span>
                    {% endfor %} 
            </p>
	    <p>
	            <b>{{ form.retype_password.label }}</b><br>
		    {{ form.retype_password(size=64) }}<br>
                    {% for error in form.retype_password.errors %}
                    <span style="color: red">[{{ error }}]</span>
                    {% endfor %} 
            </p>
	    <p>     {{ form.submit() }} </p>
            <p><a href={{ url_for('mypage') }}>Cancel</a> </p>
    </form>
{% endblock %}
