{% extends "base.html" %}

{% block content %}
{% for item in ulst %}
    <b>({{item.id}})</b>
    [<a href="{{ url_for('eduser', uid=item.id) }}">Edit</a>]
    [<a href="{{ url_for('deluser', uid=item.id) }}" onclick="return confirm('Are you sure you want to delete {{item.username}}?');">Del</a>]
    [<a href="{{ url_for('resetpass', uid=item.id) }}" onclick="return confirm('Are you sure you want to reset {{item.username}}\'s password?');">PW Reset</a>]
    <br><b>User: {{item.username}}</b>
    <br>Email: {{item.email}}
    {% if item.is_admin %} 
    <br>ADMINISTRATOR
    {% endif %}
    <br><br>
{% endfor %}
{% endblock %}
